<section class="footer-home">
  <div class="container font">
    <footer class="row row-cols-1 justify-content-between row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">
      <div class="col">
        <img src="{{logo.18.image.url}}" alt="logo" height="120" />
        <p class="text-body-secondary">© 2023</p>
      </div>

      <div class="col">
        <h5>Navigation</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="{% url 'home' %}" class="nav-link p-0 text-body-secondary"
              >Home</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              href="{% url 'order' %}"
              class="nav-link p-0 text-body-secondary"
              >How To Order</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="{% url 'about' %}" class="nav-link p-0 text-body-secondary"
              >Our Story</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Shop</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{% url 'contact' %}" class="nav-link p-0 text-body-secondary"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="col">
        <h5>Z-Cakes Contact Information</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <p>Contact phone number: <br />+2518957359</p>
          </li>
          <li class="nav-item">
            <p>Physical address: <br />Addis Abeba</p>
          </li>
          <li class="nav-item">
            <p>Contact email address: <br />z-cakes@gmail.com</p>
          </li>
          <li class="nav-item">
            <p>
              OPENING HOURS <br />7:30am -3:00pm (Mon to Fri) <br />Closed
              Sat, Sun & public holidays.
            </p>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</section>